@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    color: white;
    background-color: black !important;
    font-family: "Montserrat", helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* home-start */
/* navigation-start */
.nav-tiem {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.nav-tiem:hover {
    color: red;
}

.button-color {
    background-color: red;
    color: white;
    border: none;
}

.button-color:hover {
    background-color: #ff3636;
}

/* navigation-end */

/* banner - start */
.banner {
    height: 800px;
    display: flex;
    align-items: center;
}

.banner::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 800px;
    content: "";
    background: linear-gradient(to right, black, transparent);
}

.banner-info {
    color: white;
    width: 40%;
    margin-left: 40px;
    z-index: 1;
}

/* banner - end */
/* movieCard -start */
.card {
    width: 100%;
    height: 200px;
    background-size: cover;
    transition: all 0.2s linear;
    transition: transform 450ms;
}

.overlay {
    opacity: 0;
    background: rgba(43, 41, 41, 0.9);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay-position {
    padding: 20px;
}

.home-card {
    margin: 20px;
}

.home-card>h1 {
    margin: 20px;
}

.react-multi-carousel-item:hover {
    z-index: 1;
}

.card:hover {
    width: 120%;
    height: 250px;
    transition: 0.5s;
    transform: scale(1.02);
    transition: all 0.4s;
    z-index: 2;
}

.card:hover .overlay {
    opacity: 1;
}

/* movieCard -end */
/* home - end */
/* movieDetail-start */
.movie-detail {
    margin-top: 50px;
}

.movie-detail-img {
    width: 100%;
}

.movie-detail-first {
    padding: 30px 10px;
}

.movie-detail-genre {
    font-size: 25px;
}

.movie-detail-genre-own {
    margin: 8px;
}

.movie-detail-title {
    font-size: 60px;
}

.movie-detail-tagline {
    font-size: 20px;
}

.movie-detail-vote {
    margin-left: 20px;
}

.movie-detail-popularity {
    margin-left: 20px;
}

.fontawesome {
    margin-right: 5px;
}

.movie-language {
    margin-right: 5px;
}

.movie-detail-adulte {
    margin-left: 20px;
    color: #ff3636;
    font-weight: bold;
    font-size: 20px;
    font-style: oblique;
}

.movie-detail-overview {
    padding: 50px 10px;
    border-top: 1px solid white;
}

.movie-detail-third {
    padding: 20px 10px;
    border-top: 1px solid white;
}

.movie-detail-release {
    font-size: 15px;
    margin-bottom: 10px;
}

/* movieReview - start */
.reviewActive {
    background-color: red;
    margin: 40px 0px;
    width: 400px;
    height: 100px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 2px double white;
}

.reviewInactive {
    margin: 40px 0px;
    width: 400px;
    height: 100px;
    background-color: white;
    color: gray;
    font-weight: lighter;
    font-size: 30px;
}

.review-box {
    border: 3px solid white;
    margin-bottom: 100px;
    padding: 20px;
}

.movie-review {
    border-bottom: 1px solid white;
    margin: 0px 15px;
    padding: 15px;
}

.movie-review>h3 {
    margin-top: 10px;
}

/* movieReview-end */
/* RelatedSlider-start */
.rel-card {
    height: 300px;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    transition: all 0.2s linear;
}

.rel-card:hover {
    height: 400px;
    transition: 0.5s;
}

.rel-card:hover .overlay {
    opacity: 1;
}

.rel-card-info>span {
    margin-right: 20px;
}

.rel-card-adulte,
.listcard-adulte {
    color: #ff3636;
    font-weight: bold;
    font-style: oblique;
}

.badge {
    margin: 5px;
}

/* RelatedSlider-end */
/* movieTrailer-start */
.movie-detail-trailer {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background: none;
}

.movie-detail-trailer:hover {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.trailer {
    height: 80vh;
    text-align: center;
    padding: 10px 50px;
}

.trailer>div {
    height: 100%;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.modalclose {
    background: none;
    color: white;
    font-size: 30px;
}

.closeposition {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 5px;
}

/* movieTrailer-end */
/* movieDetail-end */
/* movies-start */
.col-sm-9 .row {
    justify-content: center;
}

/* movieList-start */
.listcard {
    padding: 0;
    margin: 10px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
}

.listcard:hover {
    transform: scale(1.2);
    transition: all 1s;
    z-index: 2;
    border: 1px solid red;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.listcard-poster {
    width: 100px;
    height: 150px;
    opacity: 0;
}

.listcard:hover .listcard-poster {
    opacity: 1;
    transition: all 1s linear;
}

.listcard-view {
    background: rgba(43, 41, 41, 0.6);
    border-radius: 10px 10px 0px 0px;
    height: 140px;
    padding: 20px;
}

.listcard-top {
    display: flex;
    justify-content: space-between;
}

.listcard:hover .listcard-view {
    border-radius: 10px;
    height: 400px;
    transition: all 1s linear;
}

.listcard-title {
    position: relative;
    top: -140px;
}

.listcard:hover .listcard-title {
    transform: translateY(140px);
    transition-duration: 1s;
    overflow: show;
    margin: 10px 0px;
}

.listcard-title>h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listcard:hover .listcard-title>h2 {
    white-space: inherit;
    display: block;
    overflow: show;
}

.listcard-overview {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0;
}

.listcard:hover .listcard-overview {
    opacity: 1;
    transition: all 1s linear;
    transition-delay: 0.5s;
}

.listcard-vote,
.listcard-popularity {
    margin-right: 10px;
}