.title {
  text-align: center;
}

.profile {
  width: 70px;
  height: 70px;
}

.contact-item {
  border: 1px solid gainsboro;
  padding: 12px;
}

.contact-list {
  margin-top: 20px;
}

.search-form {
  margin-top: 20px;
}

.border-column {
  border-right: 1px solid gainsboro;
}