.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
.nav-section {
    display: flex;
    justify-content: center;
}
.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 20px;
}
.menu-area {
    display: flex;
    justify-content: center;
}
.search-area {
    border-bottom: 1px solid black;
    position: absolute;
    right: 20px;
    padding: 5px;
}
.search-area input {
    margin-left: 10px;
    border: none;
}
.search-box input:focus {
    outline: none;
}
