.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}
.nav-section {
    display: flex;
    justify-content: center;
}
.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 20px;
}
.menu-area {
    display: flex;
    justify-content: center;
}
.search-area {
    border-bottom: 1px solid black;
    position: absolute;
    right: 20px;
    padding: 5px;
}
.search-area input {
    margin-left: 10px;
    border: none;
}
.search-box input:focus {
    outline: none;
}

.card {
    border: none !important;
    margin-left: 5px;
}
.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}
.drop-down {
    margin-top: 20px;
}
.add-button {
    margin-top: 20px;
    width: 100%;
}
