.btn-outline-success{
    color: chocolate;
    border-color: chocolate;
}
.btn-outline-success:hover{
    background-color: chocolate;
    color: white;
    border-color: chocolate;
}
footer{
    background-color: black;
    color: white;
}
.first-line{
    border-bottom: 1px solid #392d23;
}
.second-line a{
    color: white;
    text-decoration: none;
}
.second-line a:hover{
    color: chocolate;
}
.third-line{
    display: none;
}
@media  screen and (max-width:48rem) {
    .first-line{
        text-align: center;
    }
    .second-line{
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid #392d23;
    }
    .third-line{
        display: block;
    }
    .flag{
        display: none;
    }
}

