body{
    margin: 0px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #1ed760;
}

nav{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main{
    height: 968px;
    background-color: rgb(41,65,171);
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;    
    background-position: 46% 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    height: 530px;
    background-color: black;
}

.menu{
   padding: 28px 17px;
   font-weight: 700;
}

.headline{
    font-size: 146px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}

.headline_first{
    position: relative;
    left: -2.5em;
}

.sub-headline{
    color: #1ed760;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
    text-align: center;
}

.button{
    color: wheat; 
}